<h1>Заказ отправлен! Спасибо.</h1>
<p>В скором времени мы свяжемся с Вами и обсудим детали заказа</p>


<h2>Вы заказали '<%= @order.product.title %>'</h2>

<h2>Номер заказа: #<%= @order.id %></h2>
<p>
  Ваше имя:
  <%= @order.name.presence || "пусто" %>
</p>
<p>
  Телефон:
  <%= @order.phone.presence || "пусто" %>
</p>
<p>
  Email:
  <%= @order.email.presence || "пусто" %>
</p>
<p>
  Адрес доставки:
  <%= @order.address.presence || "пусто" %>
</p>

