<div class="row-fluid">
  <div class="span12">
    <ul class="breadcrumb">
      <li><a href="/">Главная</a> <span class="divider">/</span></li>
      <li><%= link_to @product.category.title, @product.category %> <span class="divider">/</span></li>
      <li class="active"><%= @product.title %></li>
    </ul>

    <h1><%= @product.title %></h1>

    <div class="pull-right">
      <%= image_tag(@product.pictures.first.file.url(:large), :class => "img-rounded", :width => 680 ) if @product.pictures.present? %>

      <br />
      <br />

      <%= render :partial => 'shared/product_options', :locals => { :product => @product } %>

      <div class="pull-right">
        Цена: <strong><%= product_price(@product) %></strong> <%= link_to "Заказать", new_order_path(:product => @product.id), :class => "btn btn-primary btn-large" %>
      </div>
    </div>
  </div>

  <div class="span12">
    <h2>Похожие товары</h2>
    <%= render :partial => 'shared/products', :locals => { :products => (@product.category.products - [@product]) } %>
    </p>
  </div>
</div>

