<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Праздник детсва - интернет-магазин</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <%= render :partial => 'shared/header' %>

    <div class="row-fluid">
      <div class="span3 left-menu">
        <ul class="nav nav-list">
          <li class="nav-header">Разделы</li>

          <% for category in Category.all %>
            <%= content_tag :li, link_to(category.title, category), :class => (@category == category ? "active" : "") %>
          <% end %>
        </ul>
      </div>
      <div class="span9">
        <%= yield %>
      </div>
    </div>

    <%= render :partial => 'shared/bottom' %>
  </div>

</body>
<%= javascript_include_tag "application" %>
</html>
