<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Праздник детсва - интернет-магазин</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <%= render :partial => 'shared/header' %>

    <div class="row-fluid">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
    <%= render :partial => 'shared/bottom' %>
  </div>

</body>
<%= javascript_include_tag "application" %>
</html>
